<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              Github profile
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              Twitter account
            </a>
          </li>
          {% endif %}

          {% if site.subreddit %}
          <li>
            <a href="https://reddit.com/r/{{ site.subreddit }}">Subreddit</span></a>
          </li>
          {% endif %}

          {% if site.facebook_page %}
            <li>
              <a href="https://facebook.com/{{ site.facebook_page }}">Facebook page</a>
            </li>
          {% endif %}

          {% if site.bitcointalk_thread_url %}
            <li>
              <a href="{{ site.bitcointalk_thread_url }}">Bitcointalk thread</a>
            </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
  </div>

</footer>
